/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added it by yourself*/
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general styles */
body {	
	background: #ffffff;
	font: 16px Helvetica, Arial, sans-serif;
	line-height: 1.31;
	height: 100vh;
	min-width: 1024px;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
}
.header {
	background: #000;
	padding: 24px 0;
}
.nav {
	display: flex;
	justify-content: space-between;
}
.logo {
	color: #fff;
	margin: 0 48px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
}
.nav-list {
	display: flex;
	justify-content: flex-end;
	padding: 0 48px;
}
.nav-list li {
	margin: 0 0 0 32px;
}
.nav-list li a {
	font-size: 16px;
	line-height: 32px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 1px solid transparent;
}
.nav-list li a:hover {
	color: #D5C4B2;
	border-bottom: 1px solid #D5C4B2;
}
.main {
	display: flex;
   	flex-direction: row;
}
.sidebar {
	border-right: 1px solid #D5C4B2;
	padding: 32px;
}
.sidebar-list {
	width: 182px;
}
.sidebar-list li a {
	color: #000;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 32px;
	padding: 0 0 0 16px;
	position: relative;
	display: inline-block;
}
.sidebar-list li.active a:before,
.sidebar-list li a:hover:before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #000;
	position: absolute;
	left: 0;
	top: 50%;
	margin: -4px 0 0;
}
.title {
	padding: 24px 48px;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: #D5C4B2;
	border-bottom: 1px solid #D5C4B2;
	margin: 0 0 24px;
}
.section {
	padding: 0 48px;
}
.section p {
	margin: 0 0 24px;
}